<% @email_title = "Reset your eLMo password" %>

<h2>Password Reset Request</h2>

<p>Hello <%= @resource.full_name || @resource.email.split('@').first %>!</p>

<p>We received a request to reset the password for your eLMo account. If you made this request, click the button below to create a new password:</p>

<div style="text-align: center; margin: 30px 0;">
  <%= link_to 'Reset My Password', edit_password_url(@resource, reset_password_token: @token), class: 'cta-button' %>
</div>

<div class="info-box">
  <p><strong>Security reminder:</strong> This link will expire in 6 hours for your security. If you don't reset your password within this time, you'll need to request a new reset link.</p>
</div>

<p>If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged until you use the link above to create a new one.</p>

<div class="alert-box">
  <p><strong>Having trouble?</strong> If the button doesn't work, copy and paste this link into your browser: <%= edit_password_url(@resource, reset_password_token: @token) %></p>
</div>

<p>For your security, we never include passwords in emails. If you have any questions or concerns, please contact our support team.</p>
